<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Order Form</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
  </head>
  <body ng-app='orderForm'>
    <div id="wrapper">
      <div id="order" ng-controller='orderCtrl'>
        <h2>Your Order</h2>
        <ul>
          <li ng-repeat='item in items' ng-click="total(item)">
            <!-- <a href="#" ng-click="total(item.cost)"> -->
              <div class="left">{{item.name}}</div>
              <div class="right">{{item.cost | currency}}</div>
            <!-- </a> -->
          </li>
        </ul>
        <hr>
        <ul id="total">
          <li>
            <div class="left">Total</div>
            <div class="right">{{ totalAmount | currency }}</div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>